body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}
body, .navbar {
  margin: 0;
  padding: 0;
}
/* navbar */
.container-fluid {
  background-color: rgb(4, 0, 0);
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, #004d40 100%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.navbar .nav-link {
    color: #004d40;
    font-weight: 500;
    margin-left: 15px;
}
.navbar-nav .nav-link:hover {
  color: #ffffff;
}
/* welcome section */
.welcome-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.welcome-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.welcome-content {
  position: relative;
  z-index: 3;
  color: #ffffff;
  text-align: center;
  max-width: 700px;
  padding: 20px;
}
.welcome-title {
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
}
.welcome-p {
  font-size: 3rem;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}
.welcome-content .btn {
  font-weight: 600;
  border-radius: 30px;
  padding: 10px 25px;
  transition: 0.3s ease;
}
.welcome-content .btn:hover {
  background-color: #aba9a9;
  color: #004d40;
}
/* attractions section */
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #004d40;
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.section-sub {
  color: #555;
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto 40px auto;
  text-align: center;
}
.attraction-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  background-color: #fff;
  margin-bottom: 40px;
  padding: 20px;
}
.attraction-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.attraction-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.attraction-card:hover img {
  transform: scale(1.05);
}
.attraction-card h4,
.attraction-card h5 {
  font-weight: 600;
  color: #004d40;
  margin-top: 15px;
  text-align: center;
}
.attraction-card p {
  color: #666;
  font-size: 0.95rem;
  text-align: justify;
  margin-bottom: 8px;
}
.icon-circle {
  width: 60px;
  height: 60px;
  background-color: #004d40;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/* Footer */
.footer {
  background-image: linear-gradient(90deg, #ffffff 0%, #004d40 100%);
  color: #000000;
  text-align: center;
  clear: both;
}
.footer .social-icons a {
  color: #004d40;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}
.footer .social-icons a:hover {
  color: #ffffff;
  transform: translateY(-3px);
}
.footer p {
  color: #ffffff;
  margin-top: 10px;
  font-size: 0.9rem;
}