body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0;
  background-color: rgb(255, 255, 255);
  padding: 10px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #000000;
}

.welcome-section {
  position: relative;
  width: 100%;
  height: 100vh;
}
/* overlay na madilim para readable ang text */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* text sa gitna ng overlay */
.welcome-content {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  max-width: 700px;
  padding: 20px;
}

.welcome-title {
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
}

.welcome-p {
  font-size: 1.3rem;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}

.welcome-content .btn {
  font-weight: 600;
  border-radius: 30px;
  padding: 10px 25px;
  transition: 0.3s ease;
}

.welcome-content .btn:hover {
  background-color: #aba9a9;
  color: #000000;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #004d40;
}

.section-sub {
  color: #555;
  font-size: 1.1rem;
  max-width: 700px;
  margin: 0 auto;
}

.attraction-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  background-color: #fff;
}

.card-img-wrapper {
  overflow: hidden;
}

.card-img-wrapper img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.attraction-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.attraction-card:hover img {
  transform: scale(1.1);
}

.card-title {
  font-weight: 600;
  margin-top: 15px;
  color: #333;
}

.card-text {
  color: #666;
  font-size: 0.95rem;
  text-align: justify;
}